* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont_flex {
  display: flex;
  flex-wrap: wrap;
}


/* NAV BAR FISSA A SX */


.cont_nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  position: fixed;
  height: 89vh;
  color: white;
}

nav ul {
  list-style-type: none;
}

nav ul:first-of-type a, nav ul:nth-of-type(3) a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
}

nav ul .fas {
  margin-right: 10px;
}

.alogo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}


nav ul:nth-of-type(2) a {
  text-decoration: none;
  color: grey;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

nav ul:nth-of-type(2) li {
  margin: 10px 0;
}


nav ul:nth-last-of-type(2) a {
font-size: 12px;
}

nav ul:nth-of-type(2) li:first-child {
  color: grey;
  font-size: 14px;
  font-weight: bold;
}


nav ul:first-of-type a:hover, nav ul:nth-of-type(2) a:hover, nav ul:nth-of-type(3) a:hover, .alogo a:hover {
  text-decoration: none;
  color:white;
}

nav hr {
  margin: 0;
}

nav ul:nth-of-type(3) {
  justify-content: flex-end;
}

/* MAIN */

main {
  background-color: blue;
  background-image: linear-gradient(to right, rgb(51, 72, 86) , rgb(19, 27, 33));
  height: 89vh;
  overflow-y: auto;
  align-items: flex-start;
}

/* DROPDOWN */


.dropdown {
  display: none;
  }

  .dropdown button {
    background-color: rgba(128, 0, 0, 0);
    border: none;
    color: white;
    margin: 30px 0 0 0;
  }

.dropdown .fas:first-child{
  font-size: 30px;
}


.dropdown .dropdown_content a .fas {
  font-size: 20px;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 130px;
  z-index: 1;
}

.dropdown_content a {
  color: white;
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown_content {display: block;}



@media (max-width: 992px) {

  .cont_nav {
   display: none;
 }

  .dropdown {
    display: inline-block;
  }

}

/* NAV MAIN XS */


.menu{
  display: flex;
  flex-wrap: wrap;
}

.menu a{
  padding: 30px 20px;
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: auto;

}

menu a:hover {
  text-decoration: none;
  color:white;
}

.cont_nav_xs hr {
  display: none;
}

.cont_nav_xs a:focus hr{
  width: 50%;
  height: 2px;
  background: green;
  display: block;
    border: none;
    margin: 0.5em auto;
    padding: 0;
}


@media (max-width: 768px) {
  .menu a{
    padding: 15px 10px;
    font-size: 11px;
}
}

/* PRIMA SEZIONE */
.primasezione {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

.primasezione h1 {
  font-size: 40px;
  font-weight: bold;
}

.primasezione img {
  max-width: 150px;
  margin: 10px 10px;
}

.primasezione img:hover {
  opacity:.5;
}

.primasezione a {
  text-decoration: none;
  color:white;
  text-align: center;
}

.primasezione a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {

.primasezione {
  margin-bottom: 50px;
}

  .primasezione h1 {
    margin-bottom: 30px;
  }

  .primasezione img {
    max-width: 120px;
    margin: 10px 10px;
  }
}



/* FOOTER */

footer {
  background-color: rgb(40, 40, 40);
  position: fixed;
  height: 11vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

footer img {
  max-width: 50px;
}
